@media screen and (max-width:700px) {

    /*estou aplicando está regra na tela e até 700px vou aplicar essa formatação*/
    header .container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .filme-principal{
        font-size: 16px;
        background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/mini-interestelar.jpg');
    
        height: 500px;
        background-size: cover; /*para pegar a área de cobertura da caixa.*/
    
        display: flex; /*por padrão fica em row o flex direction*/
        flex-direction: column;
        justify-content: center; /*para ficar centralizado*/
        align-items: flex-start; /*para O ITEM ficar a esquerda*/
    
    }
    .container{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .botao {
        margin-top: 5px;
        width: 300px;

    }

    .descricao {
        width: 70%;

    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
        /*já tinha colocado no css normal*/
    }
}